<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>なん食べる？</title>
    </head>
</html>
<body>
    <h1>なに食べたい？</h1>
    <a href="https://tabelog.com/tokyo/rstLst/washoku/" target="_brank">
        <img src="https://tblg.k-img.com/restaurant/images/Rvw/105803/150x150_square_105803166.jpg" width="140" height="140" alt="和食（定食）の写真">
    </a>
    <a href="https://tabelog.com/tokyo/rstLst/RC02/" target="_brank">
        <img src="static/img/western.jpg" width="140" height="140" alt="洋食の写真">
    </a>
    <a href="https://tabelog.com/tokyo/rstLst/chinese/" target="_brank">
        <img src="static/img/chinese.jpg" width="140" height="140" alt="中華料理の写真">
    </a>
    <a href="https://tabelog.com/tokyo/rstLst/curry/" target="_brank">
        <img src="static/img/curry.jpg" width="140" height="140" alt="カレーの写真 ">
    </a> 
       <a href="https://tabelog.com/tokyo/rstLst/RC13/" target="_brank">
        <img src="static/img/yakiniku.jpg" width="140" height="140" alt="焼肉の写真">
    </a>  
      <a href="https://tabelog.com/tokyo/rstLst/ramen/" target="_brank">
        <img src="static/img/ramen.jpg" width="140" height="140" alt="ラーメンの写真">
    </a>
    <img src={{ img_path_0 }} width="140" height="140" alt={{ img_path_0 }}> 
    <a href={{ url }} target="_brank">
        <img src={{ img_url }} width="150" height="150" alt={{ nm }}>
    </a>
    <p>print test strings<br>
        {{ test_str }}</p>
</body>







